
*.pyc
*.DS_Store
ciwa/config/OAI_CONFIG_LIST.json
/notebooks/.ipynb_checkpoints
.ipynb_checkpoints
/notebooks/Session*.json
/notebooks/*.log
/notebooks/.cache
venv/
get_project_context.py
output.log
Session_*_results.json
combined_python_files.txt
